@use "../base/variables" as v;

.about {
    background: v.$gradient-primary;
    text-align: center;
    padding: 2rem;
    margin: 4rem 0;

    h1 {
        @include v.tablet {
        font-size: 3rem;
        }
    }

    p {
        @include v.tablet {
            padding: 0 5rem;
        }

        font-family: v.$font-main;
        font-size: 1.3rem;
        text-align: justify;
    }

    .slogan {
        font-size: 0.9rem;
    }
}