@forward "base/variables";
@forward "componentes/header";
@forward "componentes/hero";
@forward "componentes/about";
@forward "componentes/skilss";
@forward "componentes/proyectos";
@forward "componentes/contacto";
@forward "componentes/footer";